
/* Box-sizing border-box */

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    font-family: helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.wrapper{
	padding:20px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
}

.wrapper > * {
	grid-column: col-start / span 12;
}

nav ul{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(5, fit-content(100px));
	justify-content: center;
	justify-items:center;
}

.logo{
	grid-column: 1/6;
	justify-self:center;
	font-size: 35px;
}

.banner-area{
	background-image: url(../img/bg1.jpg);
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	text-align: center;
	color: #ffffff;
	border:2px solid black;
}

.social{
	text-align: right;
}

.img-text{
	display: grid;
	grid-template-areas:
	"overlay-img"
	"overlay-text"
	;
}

.overlay-img{
	grid-area: overlay-img;
	background-image: url(../img/about.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 200px;
	margin-bottom: 20px;
}

.overlay-text{
	grid-area: overlay-text;

}

.feature{
	margin-bottom: 10px;
	font-size: 1.23em;
}

.overlay-text h3{
	margin: 5px 0 10px 0;
	font-style:italic;
}

.date{
	font-size: .7em;
}



@media ( min-width: 500px){
	.wrapper{
		grid-template-columns: repeat(12, [col-start] 1fr);
		grid-gap: 10px;
	}
	.banner-area{
		grid-column:  2 / -1;
		height: 200px;
		}
	.social{
		display: grid;
		grid-column: 1 / 1;
		grid-row: 2 / 2;
		justify-content: center;
		align-self: center;
		grid-template-rows: repeat(4, fit-content(60px));
		grid-gap: 20px;
	}
	.overlay{
		grid-column:  2 / -1;
		}
		.overlay-img{
		background-position: center;
		min-height: 400px;
		margin-bottom: 20px;
}
}

@media ( min-width: 700px){
	

	}

